USE [master]
GO
/****** Object:  Database [insurance]    Script Date: 21-07-2023 08:14:31 ******/
CREATE DATABASE [insurance]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'insurance', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\insurance.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'insurance_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\insurance_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [insurance].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [insurance]
GO
/****** Object:  Schema [insurance]    Script Date: 21-07-2023 08:14:31 ******/
CREATE SCHEMA [insurance]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [insurance].[admin]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [insurance].[admin](
	[adminId] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NULL,
	[password] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[adminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [insurance].[city_master]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [insurance].[city_master](
	[City_id] [int] IDENTITY(1,1) NOT NULL,
	[City] [varchar](30) NOT NULL,
	[State_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[City_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [insurance].[country_master]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [insurance].[country_master](
	[Country_id] [int] IDENTITY(1,1) NOT NULL,
	[Country] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [insurance].[customers]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [insurance].[customers](
	[Customer_id] [bigint] IDENTITY(1,1) NOT NULL,
	[First_name] [varchar](20) NOT NULL,
	[Last_name] [varchar](20) NOT NULL,
	[Status_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [insurance].[Error_log]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [insurance].[Error_log](
	[Error_code] [int] IDENTITY(100001,1) NOT NULL,
	[Reason] [nvarchar](250) NULL,
	[Date_] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [insurance].[gender_master]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [insurance].[gender_master](
	[Gender_id] [int] NOT NULL,
	[Gender] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Gender_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [insurance].[insurance_type_master]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [insurance].[insurance_type_master](
	[Insurance_id] [int] NOT NULL,
	[Insurance_type] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Insurance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [insurance].[marital_status_master]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [insurance].[marital_status_master](
	[Marital_status_id] [int] NOT NULL,
	[Marital_status] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Marital_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [insurance].[mode_of_premium_master]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [insurance].[mode_of_premium_master](
	[mode_of_premium_id] [int] NOT NULL,
	[mode_of_premium] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[mode_of_premium_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [insurance].[nominee_details]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [insurance].[nominee_details](
	[Nominee_id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nominee_name] [varchar](20) NOT NULL,
	[Policy_id] [bigint] NOT NULL,
	[Dob] [date] NULL,
	[Gender_id] [int] NULL,
	[Mobile_number] [bigint] NOT NULL,
	[Aadhar_number] [varchar](20) NOT NULL,
	[PAN_number] [varchar](15) NOT NULL,
	[Relationship_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Nominee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Aadhar_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PAN_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Mobile_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [insurance].[payment_type_master]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [insurance].[payment_type_master](
	[Payment_type_id] [int] NOT NULL,
	[Payment_type] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Payment_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [insurance].[payments]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [insurance].[payments](
	[Payment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[Premium_Id] [bigint] NOT NULL,
	[Payment_type_id] [int] NULL,
	[Amount] [decimal](10, 2) NULL,
	[Payment_Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [insurance].[personal_details]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [insurance].[personal_details](
	[Personal_id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[Dob] [date] NOT NULL,
	[Gender_id] [int] NULL,
	[Marital_status_id] [int] NULL,
	[Mobile_number] [bigint] NOT NULL,
	[Email] [varchar](40) NOT NULL,
	[Aadhar_number] [varchar](20) NOT NULL,
	[PAN_number] [varchar](15) NOT NULL,
	[Street] [varchar](30) NULL,
	[City_id] [int] NOT NULL,
	[State_id] [int] NOT NULL,
	[Country_id] [int] NOT NULL,
	[Postal_code] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Personal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Aadhar_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PAN_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Mobile_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [insurance].[policy_details]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [insurance].[policy_details](
	[Policy_id] [bigint] IDENTITY(1,1) NOT NULL,
	[Customer_id] [bigint] NOT NULL,
	[Insurance_id] [int] NOT NULL,
	[Date_of_issue] [date] NULL,
	[Date_of_expire] [date] NULL,
	[Status_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Policy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [insurance].[policy_value]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [insurance].[policy_value](
	[Premium_id] [bigint] IDENTITY(1,1) NOT NULL,
	[policy_id] [bigint] NOT NULL,
	[Amount_of_period] [int] NULL,
	[Insured_Declared_value] [decimal](10, 2) NULL,
	[premium_to_be_paid] [decimal](10, 2) NULL,
	[mode_of_premium_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Premium_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[policy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [insurance].[relationship_master]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [insurance].[relationship_master](
	[Relationship_id] [int] IDENTITY(1,1) NOT NULL,
	[Relationship] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Relationship_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [insurance].[state_master]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [insurance].[state_master](
	[State_id] [int] IDENTITY(1,1) NOT NULL,
	[State] [varchar](30) NOT NULL,
	[Country_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[State_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [insurance].[status_master]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [insurance].[status_master](
	[Status_id] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_city_master_State_Id]    Script Date: 21-07-2023 08:14:31 ******/
CREATE NONCLUSTERED INDEX [IX_city_master_State_Id] ON [insurance].[city_master]
(
	[State_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_customers_Status_id]    Script Date: 21-07-2023 08:14:31 ******/
CREATE NONCLUSTERED INDEX [IX_customers_Status_id] ON [insurance].[customers]
(
	[Status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_nominee_details_Gender_id]    Script Date: 21-07-2023 08:14:31 ******/
CREATE NONCLUSTERED INDEX [IX_nominee_details_Gender_id] ON [insurance].[nominee_details]
(
	[Gender_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_nominee_details_Policy_id]    Script Date: 21-07-2023 08:14:31 ******/
CREATE NONCLUSTERED INDEX [IX_nominee_details_Policy_id] ON [insurance].[nominee_details]
(
	[Policy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_nominee_details_Relationship_id]    Script Date: 21-07-2023 08:14:31 ******/
CREATE NONCLUSTERED INDEX [IX_nominee_details_Relationship_id] ON [insurance].[nominee_details]
(
	[Relationship_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__nominee___097AF695B810004D]    Script Date: 21-07-2023 08:14:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__nominee___097AF695B810004D] ON [insurance].[nominee_details]
(
	[Aadhar_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__nominee___0CB01CC46680DD9B]    Script Date: 21-07-2023 08:14:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__nominee___0CB01CC46680DD9B] ON [insurance].[nominee_details]
(
	[PAN_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__nominee___9E090FFF6CB3CDBF]    Script Date: 21-07-2023 08:14:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__nominee___9E090FFF6CB3CDBF] ON [insurance].[nominee_details]
(
	[Mobile_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_payments_Payment_type_id]    Script Date: 21-07-2023 08:14:31 ******/
CREATE NONCLUSTERED INDEX [IX_payments_Payment_type_id] ON [insurance].[payments]
(
	[Payment_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_payments_Premium_Id]    Script Date: 21-07-2023 08:14:31 ******/
CREATE NONCLUSTERED INDEX [IX_payments_Premium_Id] ON [insurance].[payments]
(
	[Premium_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_personal_details_City_id]    Script Date: 21-07-2023 08:14:31 ******/
CREATE NONCLUSTERED INDEX [IX_personal_details_City_id] ON [insurance].[personal_details]
(
	[City_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_personal_details_Country_id]    Script Date: 21-07-2023 08:14:31 ******/
CREATE NONCLUSTERED INDEX [IX_personal_details_Country_id] ON [insurance].[personal_details]
(
	[Country_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_personal_details_customer_id]    Script Date: 21-07-2023 08:14:31 ******/
CREATE NONCLUSTERED INDEX [IX_personal_details_customer_id] ON [insurance].[personal_details]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_personal_details_Gender_id]    Script Date: 21-07-2023 08:14:31 ******/
CREATE NONCLUSTERED INDEX [IX_personal_details_Gender_id] ON [insurance].[personal_details]
(
	[Gender_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_personal_details_Marital_status_id]    Script Date: 21-07-2023 08:14:31 ******/
CREATE NONCLUSTERED INDEX [IX_personal_details_Marital_status_id] ON [insurance].[personal_details]
(
	[Marital_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_personal_details_State_id]    Script Date: 21-07-2023 08:14:31 ******/
CREATE NONCLUSTERED INDEX [IX_personal_details_State_id] ON [insurance].[personal_details]
(
	[State_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__personal__097AF695983FC34F]    Script Date: 21-07-2023 08:14:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__personal__097AF695983FC34F] ON [insurance].[personal_details]
(
	[Aadhar_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__personal__0CB01CC4E84EC167]    Script Date: 21-07-2023 08:14:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__personal__0CB01CC4E84EC167] ON [insurance].[personal_details]
(
	[PAN_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__personal__9E090FFF73DA8EAF]    Script Date: 21-07-2023 08:14:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__personal__9E090FFF73DA8EAF] ON [insurance].[personal_details]
(
	[Mobile_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__personal__A9D1053460EF173E]    Script Date: 21-07-2023 08:14:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__personal__A9D1053460EF173E] ON [insurance].[personal_details]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_policy_details_Customer_id]    Script Date: 21-07-2023 08:14:31 ******/
CREATE NONCLUSTERED INDEX [IX_policy_details_Customer_id] ON [insurance].[policy_details]
(
	[Customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_policy_details_Insurance_id]    Script Date: 21-07-2023 08:14:31 ******/
CREATE NONCLUSTERED INDEX [IX_policy_details_Insurance_id] ON [insurance].[policy_details]
(
	[Insurance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_policy_details_Status_id]    Script Date: 21-07-2023 08:14:31 ******/
CREATE NONCLUSTERED INDEX [IX_policy_details_Status_id] ON [insurance].[policy_details]
(
	[Status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_policy_value_mode_of_premium_id]    Script Date: 21-07-2023 08:14:31 ******/
CREATE NONCLUSTERED INDEX [IX_policy_value_mode_of_premium_id] ON [insurance].[policy_value]
(
	[mode_of_premium_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__policy_v__47DA3F02C1715153]    Script Date: 21-07-2023 08:14:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__policy_v__47DA3F02C1715153] ON [insurance].[policy_value]
(
	[policy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_state_master_Country_Id]    Script Date: 21-07-2023 08:14:31 ******/
CREATE NONCLUSTERED INDEX [IX_state_master_Country_Id] ON [insurance].[state_master]
(
	[Country_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [insurance].[admin] ADD  DEFAULT ('') FOR [password]
GO
ALTER TABLE [insurance].[customers] ADD  DEFAULT ((0)) FOR [Status_id]
GO
ALTER TABLE [insurance].[nominee_details] ADD  DEFAULT (NULL) FOR [Dob]
GO
ALTER TABLE [insurance].[nominee_details] ADD  DEFAULT (NULL) FOR [Gender_id]
GO
ALTER TABLE [insurance].[nominee_details] ADD  DEFAULT (NULL) FOR [Relationship_id]
GO
ALTER TABLE [insurance].[payments] ADD  DEFAULT (NULL) FOR [Payment_type_id]
GO
ALTER TABLE [insurance].[payments] ADD  DEFAULT (NULL) FOR [Amount]
GO
ALTER TABLE [insurance].[payments] ADD  DEFAULT (NULL) FOR [Payment_Date]
GO
ALTER TABLE [insurance].[personal_details] ADD  DEFAULT (NULL) FOR [Gender_id]
GO
ALTER TABLE [insurance].[personal_details] ADD  DEFAULT (NULL) FOR [Marital_status_id]
GO
ALTER TABLE [insurance].[personal_details] ADD  DEFAULT (NULL) FOR [Street]
GO
ALTER TABLE [insurance].[personal_details] ADD  DEFAULT (NULL) FOR [Postal_code]
GO
ALTER TABLE [insurance].[policy_details] ADD  DEFAULT (NULL) FOR [Date_of_issue]
GO
ALTER TABLE [insurance].[policy_details] ADD  DEFAULT (NULL) FOR [Date_of_expire]
GO
ALTER TABLE [insurance].[policy_value] ADD  DEFAULT (NULL) FOR [Amount_of_period]
GO
ALTER TABLE [insurance].[policy_value] ADD  DEFAULT (NULL) FOR [Insured_Declared_value]
GO
ALTER TABLE [insurance].[policy_value] ADD  DEFAULT (NULL) FOR [premium_to_be_paid]
GO
ALTER TABLE [insurance].[policy_value] ADD  DEFAULT (NULL) FOR [mode_of_premium_id]
GO
ALTER TABLE [insurance].[city_master]  WITH CHECK ADD  CONSTRAINT [fk_stateF_id] FOREIGN KEY([State_Id])
REFERENCES [insurance].[state_master] ([State_id])
GO
ALTER TABLE [insurance].[city_master] CHECK CONSTRAINT [fk_stateF_id]
GO
ALTER TABLE [insurance].[customers]  WITH CHECK ADD  CONSTRAINT [fk_status2_id] FOREIGN KEY([Status_id])
REFERENCES [insurance].[status_master] ([Status_id])
GO
ALTER TABLE [insurance].[customers] CHECK CONSTRAINT [fk_status2_id]
GO
ALTER TABLE [insurance].[nominee_details]  WITH CHECK ADD  CONSTRAINT [fk_gender_id] FOREIGN KEY([Gender_id])
REFERENCES [insurance].[gender_master] ([Gender_id])
GO
ALTER TABLE [insurance].[nominee_details] CHECK CONSTRAINT [fk_gender_id]
GO
ALTER TABLE [insurance].[nominee_details]  WITH CHECK ADD  CONSTRAINT [fk_policy2_id] FOREIGN KEY([Policy_id])
REFERENCES [insurance].[policy_details] ([Policy_id])
GO
ALTER TABLE [insurance].[nominee_details] CHECK CONSTRAINT [fk_policy2_id]
GO
ALTER TABLE [insurance].[nominee_details]  WITH CHECK ADD  CONSTRAINT [fk_relationship_id] FOREIGN KEY([Relationship_id])
REFERENCES [insurance].[relationship_master] ([Relationship_id])
GO
ALTER TABLE [insurance].[nominee_details] CHECK CONSTRAINT [fk_relationship_id]
GO
ALTER TABLE [insurance].[payments]  WITH CHECK ADD  CONSTRAINT [fk_payment_type_id] FOREIGN KEY([Payment_type_id])
REFERENCES [insurance].[payment_type_master] ([Payment_type_id])
GO
ALTER TABLE [insurance].[payments] CHECK CONSTRAINT [fk_payment_type_id]
GO
ALTER TABLE [insurance].[payments]  WITH CHECK ADD  CONSTRAINT [fk_primium_id] FOREIGN KEY([Premium_Id])
REFERENCES [insurance].[policy_value] ([Premium_id])
GO
ALTER TABLE [insurance].[payments] CHECK CONSTRAINT [fk_primium_id]
GO
ALTER TABLE [insurance].[personal_details]  WITH CHECK ADD  CONSTRAINT [fk_city2_id] FOREIGN KEY([City_id])
REFERENCES [insurance].[city_master] ([City_id])
GO
ALTER TABLE [insurance].[personal_details] CHECK CONSTRAINT [fk_city2_id]
GO
ALTER TABLE [insurance].[personal_details]  WITH CHECK ADD  CONSTRAINT [fk_country2_id] FOREIGN KEY([Country_id])
REFERENCES [insurance].[country_master] ([Country_id])
GO
ALTER TABLE [insurance].[personal_details] CHECK CONSTRAINT [fk_country2_id]
GO
ALTER TABLE [insurance].[personal_details]  WITH CHECK ADD  CONSTRAINT [fk_customer2_id] FOREIGN KEY([customer_id])
REFERENCES [insurance].[customers] ([Customer_id])
GO
ALTER TABLE [insurance].[personal_details] CHECK CONSTRAINT [fk_customer2_id]
GO
ALTER TABLE [insurance].[personal_details]  WITH CHECK ADD  CONSTRAINT [fk_gender2_id] FOREIGN KEY([Gender_id])
REFERENCES [insurance].[gender_master] ([Gender_id])
GO
ALTER TABLE [insurance].[personal_details] CHECK CONSTRAINT [fk_gender2_id]
GO
ALTER TABLE [insurance].[personal_details]  WITH CHECK ADD  CONSTRAINT [fk_marital_status2_id] FOREIGN KEY([Marital_status_id])
REFERENCES [insurance].[marital_status_master] ([Marital_status_id])
GO
ALTER TABLE [insurance].[personal_details] CHECK CONSTRAINT [fk_marital_status2_id]
GO
ALTER TABLE [insurance].[personal_details]  WITH CHECK ADD  CONSTRAINT [fk_state2_id] FOREIGN KEY([State_id])
REFERENCES [insurance].[state_master] ([State_id])
GO
ALTER TABLE [insurance].[personal_details] CHECK CONSTRAINT [fk_state2_id]
GO
ALTER TABLE [insurance].[policy_details]  WITH CHECK ADD  CONSTRAINT [fk_customer_id] FOREIGN KEY([Customer_id])
REFERENCES [insurance].[customers] ([Customer_id])
GO
ALTER TABLE [insurance].[policy_details] CHECK CONSTRAINT [fk_customer_id]
GO
ALTER TABLE [insurance].[policy_details]  WITH CHECK ADD  CONSTRAINT [fk_insurance_id] FOREIGN KEY([Insurance_id])
REFERENCES [insurance].[insurance_type_master] ([Insurance_id])
GO
ALTER TABLE [insurance].[policy_details] CHECK CONSTRAINT [fk_insurance_id]
GO
ALTER TABLE [insurance].[policy_details]  WITH CHECK ADD  CONSTRAINT [fk_status_id] FOREIGN KEY([Status_id])
REFERENCES [insurance].[status_master] ([Status_id])
GO
ALTER TABLE [insurance].[policy_details] CHECK CONSTRAINT [fk_status_id]
GO
ALTER TABLE [insurance].[policy_value]  WITH CHECK ADD  CONSTRAINT [fk_mode_of_premium_id] FOREIGN KEY([mode_of_premium_id])
REFERENCES [insurance].[mode_of_premium_master] ([mode_of_premium_id])
GO
ALTER TABLE [insurance].[policy_value] CHECK CONSTRAINT [fk_mode_of_premium_id]
GO
ALTER TABLE [insurance].[policy_value]  WITH CHECK ADD  CONSTRAINT [fk_policy3_id] FOREIGN KEY([policy_id])
REFERENCES [insurance].[policy_details] ([Policy_id])
GO
ALTER TABLE [insurance].[policy_value] CHECK CONSTRAINT [fk_policy3_id]
GO
ALTER TABLE [insurance].[state_master]  WITH CHECK ADD  CONSTRAINT [fk_countryF_id] FOREIGN KEY([Country_Id])
REFERENCES [insurance].[country_master] ([Country_id])
GO
ALTER TABLE [insurance].[state_master] CHECK CONSTRAINT [fk_countryF_id]
GO
/****** Object:  StoredProcedure [dbo].[additional_offer]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[additional_offer]
(@customer_id BIGINT,@offer DECIMAL(10,2) OUTPUT)
AS
BEGIN 
  DECLARE @no_of_policy int;
  SET NOCOUNT ON;
  set @no_of_policy = (select count(1) from insurance.policy_details where  Status_id=1 and Insurance_id=2 group by Customer_id having (Customer_id=@customer_id));
  

  IF @no_of_policy <= 2
   BEGIN
     SET @offer = @offer + 0.01
   END
  ELSE IF @no_of_policy <= 4
   BEGIN
     SET @offer = @offer + 0.02
   END
  ELSE IF @no_of_policy <= 6
   BEGIN
    SET @offer = @offer + 0.04
   END
  ELSE
   BEGIN
    SET @offer = @offer + 0.06
   END
  END
GO
/****** Object:  StoredProcedure [dbo].[age_calculation]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[age_calculation]
(@customer_id BIGINT,@age INT OUTPUT)
AS
BEGIN
  SET NOCOUNT ON;
  SELECT @age=DATEDIFF(year, pd.Dob, GETDATE()) FROM insurance.personal_details pd where pd.customer_id=@customer_id;
END
GO
/****** Object:  StoredProcedure [dbo].[calculate_offer]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    --sub procedure 2(calculate offer based on Amount of period and Insured declared value)--
CREATE PROCEDURE [dbo].[calculate_offer]
(@amount_of_period INT,@insured_declared_value DECIMAL(10,2),@age INT,@offer DECIMAL(10,2) OUTPUT)
AS
BEGIN
   SET NOCOUNT ON;
   IF @amount_of_period <= 20 and @age >= 50
	     BEGIN
		     IF @insured_declared_value <= 500000
			   BEGIN
			     set @offer = 0.40;
			   END
             ELSE
			    BEGIN
				    IF @insured_declared_value <= 1000000
				       BEGIN
					      set @offer = 0.60;
					   END
                    ELSE
					   BEGIN
					      set @offer = 0.70
					   END
				END
		 END

	   ELSE
		 BEGIN
		     IF @amount_of_period <= 40 and @age >= 30
			    BEGIN
				IF @insured_declared_value <= 1000000
				    BEGIN
					     set @offer = 0.62
					END
			  	  ELSE
				    BEGIN
					  IF @insured_declared_value <= 3000000
					     BEGIN
						   set @offer = 0.69
						 END
                       ELSE
					     BEGIN
						   set @offer = 0.72
						 END
					END  
				END
		     ELSE
				BEGIN
				  IF @amount_of_period <= 70 and @age >= 10
				     BEGIN
					    IF @insured_declared_value <= 2000000
					       BEGIN
						      set @offer = 0.60
						   END
                        ELSE
					       BEGIN
						      IF @insured_declared_value <= 5000000
							     BEGIN
							       set @offer = 0.71
							     END
							  ELSE
							     BEGIN
							       set @offer = 0.82
							     END
						   END
					 END
                  ELSE
				     BEGIN
					     IF @insured_declared_value <= 3000000
						   BEGIN
						      set @offer = 0.62
						   END
                         ELSE
						   BEGIN
						       IF @insured_declared_value <= 5000000
							      BEGIN
								     set @offer = 0.69
								  END
                              ELSE
							     BEGIN
								     set @offer = 0.78
								 END
						   END						  
					 END
				END
		 END
END
GO
/****** Object:  StoredProcedure [dbo].[calculating_premium_Amount]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
     --parent procedure(calculating_the_offer)--
CREATE PROCEDURE [dbo].[calculating_premium_Amount]
(@customer_id BIGINT,@amount_of_period INT,@insured_declared_value DECIMAL(10,2),@premium_to_be_paid DECIMAL(10,2) OUTPUT)
AS
BEGIN
  DECLARE @Reason varchar(200);
 BEGIN TRY
  DECLARE @offer decimal(10,2),@age INT; 
  SET NOCOUNT ON;

  IF (@customer_id IS NULL OR @customer_id = '')
      BEGIN 	
		set @Reason='The given Customer Id is Null or Empty';
		RAISERROR(@Reason,16,1);
	  END

  ELSE IF exists(select * from insurance.customers where Customer_id=@customer_id) 
   BEGIN
   
	   --sub procedure 1--	   
       EXEC age_calculation @customer_id,@age OUTPUT;   
	   
	   --sub procedure 2--
       EXEC calculate_offer @amount_of_period,@insured_declared_value,@age,@offer OUTPUT;

	   --sub procedure 3--
	   EXEC additional_offer @customer_id,@offer OUTPUT;           
	  

       --sub procedure 4--
       EXEC calculating_premium_to_be_paid @premium_to_be_paid OUTPUT,@amount_of_period,@insured_declared_value,@offer;   

   END

  ELSE
   BEGIN 
		set @Reason=concat('Customer Id ',@customer_id,' does not exist');
		RAISERROR(@Reason,16,1);
   END    
  END TRY
  BEGIN CATCH
      print ERROR_MESSAGE();
	   INSERT INTO insurance.Error_log(Reason,Date_)
	      VALUES(ERROR_MESSAGE(),GETDATE());
  END CATCH
 END
GO
/****** Object:  StoredProcedure [dbo].[calculating_premium_to_be_paid]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[calculating_premium_to_be_paid]
(@premium_to_be_paid DECIMAL(10,2) OUTPUT,@amount_of_period INT,@insured_declared_value DECIMAL(10,2),@offer DECIMAL(10,2))
AS
BEGIN
   SET NOCOUNT ON;
   SET @premium_to_be_paid = (@insured_declared_value-((@insured_declared_value  *  @offer) / 100))/(@amount_of_period * 12);
END
GO
/****** Object:  StoredProcedure [dbo].[FetchAllCustomerDetails]    Script Date: 21-07-2023 08:14:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[FetchAllCustomerDetails]
                            (@city_id Int,@gender_id Int)
                             AS
                             BEGIN
                             SET NOCOUNT ON;
                             BEGIN TRY
                                     select c.customer_id,c.first_name,c.last_name,p.mobile_number,p.email,cm.City,sm.State from insurance.customers c inner join insurance.personal_details p on (c.customer_id=p.customer_id) left join insurance.city_master cm on(p.City_id=cm.City_id) left join insurance.state_master sm on(p.State_id=sm.State_id) where p.City_id=@city_id and p.Gender_id=@gender_id;
                             END TRY
                             BEGIN CATCH
                                      DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
                                         RAISERROR(@ErrorMessage, 16, 1);
                             END CATCH
                             END
GO
USE [master]
GO
